<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Artibot - Documentation:
		<?js= title ?>
	</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="shortcut icon" href="https://assets.artivain.com/fav/bots/artibot.svg" type="image/svg+xml">

	<!-- The page supports both dark and light color schemes, and the default is light. -->
	<meta name="color-scheme" content="light dark">

	<script>
		if (window.matchMedia("(prefers-color-scheme: dark)").media === "not all") {
			document.documentElement.style.display = "none";
			document.head.insertAdjacentHTML(
				"beforeend",
				"<link id=\"css\" rel=\"stylesheet\" href=\"styles/flatly-light.min.css\" onload=\"document.documentElement.style.display = ''\">"
			);
		}
	</script>

	<link rel="stylesheet" href="styles/flatly-dark.min.css" media="(prefers-color-scheme: dark)">
	<link rel="stylesheet" href="styles/flatly-light.min.css" media="(prefers-color-scheme: light)">

	<script src="scripts/prettify/prettify.js"> </script>
	<script src="scripts/prettify/lang-css.js"> </script>
	<!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	<link type="text/css" rel="stylesheet" href="styles/prettify-tomorrow.css">
	<link type="text/css" rel="stylesheet" href="styles/jsdoc-default.css">
</head>

<body>

	<nav id="nav" class="sidebar p-3 text-white bg-dark">
		<div class="sidebar-content w-100 px-md-3 d-flex flex-column h-100">
			<a href="/" class="text-white text-decoration-none">
				<div class="w-100 text-center">
					<img src="https://assets.artivain.com/fav/bots/artibot.svg" alt="logo" class="logo">
					<h2>Artibot</h2>
				</div>
			</a>
			<div class="menu flex-fill" style="overflow-y: scroll;">
				<?js= this.nav ?>
			</div>
		</div>
	</nav>

	<div class="content">

		<div class="title-bar bg-dark text-white mb-5 py-5">
			<div class="container">
				<h1>
					<?js= title ?>
				</h1>
			</div>
		</div>

		<div class="container">
			<?js= content ?>
		</div>

		<footer class="mt-5 py-3 bg-dark text-white">
			<div class="footer-content container">
				&copy; Artivain <span id="year"></span>
				Documentation made with <a href="https://github.com/jsdoc/jsdoc">JSDoc
					<?js= env.version.number ?>
				</a>
			</div>
		</footer>

	</div>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
		crossorigin="anonymous"></script>

	<script>
		document.getElementById("year").innerText = new Date().getFullYear();
	</script>

	<script>
		document.querySelectorAll("table").forEach(table => {
			table.classList.add("table");
		});
	</script>

	<script> prettyPrint(); </script>
	<script src="scripts/linenumber.js"></script>
</body>

</html>